services:
  rtabmap:
    build:
      context: .
      dockerfile: Dockerfile.rtabmap
    image: vision_lab/rtabmap:jammy
    container_name: rtabmap
    runtime: nvidia
    network_mode: host
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility,graphics,display
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
    volumes:
      - ../datasets:/workspace/datasets
      - ../output:/workspace/output
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./scripts:/workspace/scripts
    command: tail -f /dev/null
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
